<h1>Activities</h1>
<ul>
    {% for activity in activity_data_list %}
        <li>
            <a href="{% url 'activity_detail' athlete_id=activity.athlete.id activity_id=activity.id %}">
                {{ activity.name }} 
            </a>
            <br>
            Athlete: {{ activity.athlete.id }}
            <br>
            Start date: {{ activity.start_date }}
            <br>
            Activity_ID: {{ activity.activity_id }}
            <br>
            Django_ID: {{ activity.pk }}
            <br>
            ------
        </li>
    {% endfor %}
</ul>
