<!-- Runnin/templates/Runnin/landing_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Runnin</title>
</head>
<body>
    <h1>Welcome to Runnin!</h1>
    <p>Your journey to sports data analysis starts here! </p>
    <nav>
        <ul>
            <li><a href="{% url 'list_athletes' %}">List of Athletes</a></li>
            <!-- Add more navigation links as per your application's functionality -->
        </ul>
    </nav>
</body>
</html>
